.divMenuTable {
    display: flex;
    flex-direction: column;
    background-color: rgb(249, 219, 186);
    height: 90vh;
    width: 30%;
    margin-top: 10px;
    border: 11px solid rgb(31, 49, 111);
}

.divMenuTable > p {
    margin-left: 30px;
    font-weight: bolder;
    font-size: larger;
}

.divMenuTable > .pandaImg {
    height: 30vh;
    width: 27vw;
    object-fit: cover;
    margin-left: 25px;
    border-radius: 100%;
}